<!-- Modal for create group -->
      <div class="modal fade" id="myModalChangePassCode" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
          <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Change Passcode
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <%= form_with scope: :group, url: change_passcode_path(:group_id => group.id), method: "put" do |f| %>
                <div>
                  <%= f.text_field :passcode, placeholder: "new passcode", style: "margin-top: 2%;", :required => true %>
                </div>
                <%= f.submit "Submit", :class => "btn btn-default" %>
                <%end%>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
            </div>
          </div>
        </div>
      </div>