<div id="homepage-view" class="header">
    <div class="text-vertical-center">
        <h1>Airent</h1>
        <h3>Rent and share idle tools with your friends</h3>
        <br>
        <% if current_user %>
        <%= link_to("Log Out", logout_path, method: :delete, :class => "btn btn-light btn-lg") %>
        <% else %>
        <a href="" class="btn btn-light btn-lg" data-toggle="modal" data-target="#myModalSignUp">Join Now</a>
        <% end %>
    </div>
</div>